<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JumboChecker</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/letter-j.png" />
  </head>
  <body>
    <header>
      <h1>JumboChecker</h1>
    </header>
    <main>
      <form action="/data" method="post">
        <!-- <input type="text" placeholder="Enter file directory" /> -->
        <textarea
          name="directory"
          id="fileDirectory"
          placeholder="Enter file directory"
        ></textarea>
        <div class="inputs">
          <!-- <input type="text" placeholder="АртикалID" /> -->
          <textarea name="articleId" id="" placeholder="АртикалID"></textarea>
          <!-- <input type="text" placeholder="ВероID" /> -->
          <textarea name="veroId" id="" placeholder="ВероID"></textarea>
          <!-- <input type="text" placeholder="Код на доб." /> -->
          <textarea name="code" id="" placeholder="Код на доб."></textarea>
          <!-- <input type="text" placeholder="Назив" /> -->
          <textarea name="articleName" id="" placeholder="Назив"></textarea>
          <!-- <input type="text" placeholder="Количина" /> -->
          <textarea name="amount" id="" placeholder="Количина"></textarea>
        </div>
        <button type="subim">Start</button>
      </form>
    </main>
    <% if( locals.available || locals.unavailable ) { let i = 1; let j = 1; let
    orderSize = 0%>
    <section>
      <div class="container">
        <h3>Available items</h3>
        <% available.forEach((item) => { %>
        <div class="items">
          <h5><%= i++ %>.</h5>
          <h5><%= item.articleId %></h5>
          <h5><%= item.veroId %></h5>
          <h5><%= item.code %></h5>
          <h5><%= item.articleName %></h5>
          <h5><%= Number(item.amount) + 3 %></h5>
          <% orderSize += Number(item.amount) + 3 %>
        </div>
        <% }) %>
        <h3>Order amount: <%= orderSize %></h3>
      </div>
      <div class="container">
        <h3>Unavailable items</h3>
        <% unavailable.forEach((item) => { %>
        <div class="items">
          <h5><%= j++ %>.</h5>
          <h5><%= item.articleId %></h5>
          <h5><%= item.veroId %></h5>
          <h5><%= item.code %></h5>
          <h5><%= item.articleName %></h5>
          <h5><%= item.amount %></h5>
        </div>
        <% }) %>
      </div>
    </section>
    <%}%>
  </body>
</html>
