<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JumboChecker</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/letter-j.png" />
  </head>
  <body>
    <header>
      <h1>JumboChecker</h1>
    </header>
    <main>
      <form action="/data" method="post">
        <!-- <input type="text" placeholder="Enter file directory" /> -->
        <textarea
          name="directory"
          id="fileDirectory"
          placeholder="Enter file directory"
        ></textarea>
        <div class="inputs">
          <textarea name="br" id="" placeholder="Бр."></textarea>
          <textarea name="articleId" id="" placeholder="АртикалID"></textarea>
          <textarea name="veroId" id="" placeholder="ВероID"></textarea>
          <textarea name="code" id="" placeholder="Код на доб."></textarea>
          <textarea name="articleName" id="" placeholder="Назив"></textarea>
          <textarea name="amount" id="" placeholder="Количина"></textarea>
          <textarea name="origin" id="" placeholder="Потекло"></textarea>
        </div>
        <button type="subim">Start</button>
      </form>
    </main>
    <% if( locals.available || locals.unavailable ) { let orderSize = 0; %>
    <section>
      <div class="container">
        <h3>Available items</h3>
        <h4>Number / ArticleId / VeroId / AritcleName / Amount / Origin</h4>
        <% available.forEach((item) => { %>
        <div class="items">
          <h5><%= item.br %></h5>
          <h5><%= item.articleId %></h5>
          <h5><%= item.veroId %></h5>
          <h5><%= item.code %></h5>
          <h5><%= item.articleName %></h5>
          <h5><%= Number(item.amount) + 2 %></h5>
          <h5><%= item.origin %></h5>
          <% orderSize += Number(item.amount) + 2 %>
        </div>
        <% }) %>
        <h3>Order amount: <%= orderSize %></h3>
      </div>
      <div class="container">
        <h3>Unavailable items</h3>
        <h4>Number / ArticleId / VeroId / AritcleName / Amount / Origin</h4>
        <% unavailable.forEach((item) => { %>
        <div class="items">
          <h5><%= item.br %>.</h5>
          <h5><%= item.articleId %></h5>
          <h5><%= item.veroId %></h5>
          <h5><%= item.code %></h5>
          <h5><%= item.articleName %></h5>
          <h5><%= item.amount %></h5>
          <h5><%= item.origin %></h5>
        </div>
        <% }) %>
      </div>
    </section>
    <%}%>
  </body>
</html>
